@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@200;500&display=swap');

/* container 1 */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Abril Fatface', sans-serif;
}

#grad {
  background-image: linear-gradient(to bottom right, rgb(189, 151, 151), rgb(219, 219, 136));
}

header {
  position: fixed;
  width: 100%;
}

p {
  text-align: justify;
  padding-left: 10%;
  padding-bottom: 50px;
}

body {
  background-color: rgb(186, 168, 152);
}

a {
  color: rgb(0, 0, 0);
  transition: all 0.1s;
  padding-right: 50px;
}

a:hover {
  color: beige;
}

h3 {
  color: beige;
  text-align: center;
}

#title {
  padding-left: 250px;
}

.grid-container {
  grid-template-columns: auto auto auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(238, 224, 203);
}

.grid-item-logo{  
  width: 100px;
}

/* container  2 */

#intro {
  font-size: 100px;
  color: beige;
}

#img2 {
  width: 500px;
  padding-left: 25%;
}

.grid-container-2 {
  width: 100%;
  display: flex;
}

.column-left {
  width: 50%;
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 50px;
}

.column-right{
  width: 50%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 100px;
}

/* container 3 */
#sample {
  text-align: center;
  padding-top: 50px;
  color: beige;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.img-content {
  width: 400px;
  padding-left: 20%;
}