/* container 1 */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: rgb(186, 168, 152);
}

a {
  color: rgb(0, 0, 0);
  transition: all 0.1s;
  padding-right: 50px;
}

a:hover {
  color: rgb(186, 168, 152);
}

#title {
  padding-left: 250px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(238, 224, 203);
}

.grid-item-logo{  
  width: 100px;
}

/* container 2 */
.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  padding-left: 10%;
}

.grid-item {
  padding-top: 50px;
}

img {
  width: 400px;
}